@media only screen and (min-width: 800pt) {
    body {
        max-width: 550pt;
        padding: 50pt 50pt 50% 150pt;
    }
    .announcement {
        padding-left: 36pt;
        padding-right: 30pt;
    }
}
@media only screen and (max-width: 800pt) and (min-width: 650pt) {
    body {
        max-width: 500pt;
        padding: 25pt 25pt 100% 75pt;
    }
    .announcement {
        padding-left: 24pt;
        padding-right: 18pt;
    }
}
@media only screen and (max-width: 650pt) and (min-width: 500pt) {
    body {
        max-width: 400pt;
        padding: 25pt 25pt 100% 25pt;
    }
    .announcement {
        padding-left: 21pt;
        padding-right: 15pt;
    }
}
@media only screen and (max-width: 500pt) {
    body {
        max-width: 90%;
        padding: 5% 0% 100% 5%;
    }
    .announcement {
        padding-left: 18pt;
        padding-right: 12pt;
    }
}

body {
    background-color: #424549;
}

p, li {
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #dcddde;
    list-style-type: circle;
    font-size: 12pt;
    margin: 0;
}

a {
    font-family: "Arial";
    color: #dcddde;
}

img {
    width: 100%;
}

h1 {
    font-family: "Arial";
    color: #dcddde;
    font-size: 20pt;
    margin-bottom: 18pt;
}
h2 {
    font-family: "Arial";
    color: #dcddde;
    font-size: 16pt;
    margin-top: 18pt;
    margin-bottom: 6pt;
}
h3 {
    font-family: "Arial";
    color: #dcddde;
    font-size: 14pt;
    text-align: center;
    margin-top: 6em;
    margin-bottom: 4pt;
}


.much {
    margin-bottom: 10em;
}
.very {
    margin-bottom: 3em;
}
.text {
    margin-bottom: 1.5em;
}
.lite {
    margin-bottom: 0.5em;
}
.liter {
    margin-bottom: 0em;
}
.prism {
    font-style: italic;
    color: #fff;
    font-size: 13pt;
}
.white {
    color: #fff;
}
.ryan {
/*     color: #47f; */
/*     color: #7289da; */
    color: rgb(0, 175, 244);
}
.nagit {
/*     color: rgba(255,255,255,0.5); */
    background: linear-gradient(to right, transparent, 30%, black);
    display: inline-block;
    transform: skew(-7deg);
    padding-right: 0.5em;
}
.nagit1 {
    color: rgba(220,221,222,1);
}
.nagit2 {
    color: rgba(220,221,222,0.4);
}
.nagit3 {
    color: rgba(220,221,222,0.2);
}
.nagit4 {
    color: rgba(220,221,222,0.1);
}
.nagit5 {
    color: rgba(220,221,222,0.05);
}
.nagit6 {
    color: rgba(220,221,222,0);
}
/*.nagit2 {
    background-clip: text;
    -webkit-background-text: text;
    color: transparent;
    background: linear-gradient(to right, white, 40%, black);
    display: inline-block;
    transform: skew(7deg);
}*/
.nagito {
    color: rgba(0,0,0,0);
    background-color: black;
    display: inline-block;
    transform: skew(-7deg);
}
.unskew {
    transform: skew(7deg);
    display: inline-block;
}
.scene {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.note {
    color: #babbbc;
}

.quote {
    color: #dcddde;
    margin-top: 1em;
    border-left: 2px solid #dcddde;
    padding-left: 5px;
}
.vs {
    padding-left: 4em;
}
.break {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.announce {
    color: #dcddde;
    font-family: monospace;
    font-size: 10pt;
    line-height: 1.15;
    text-align: left;
}
.announcement {
    background: #2f3136;
    border: 3px solid #282b30;
    border-radius: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 7px;
    padding-bottom: 7px;
}

.nelsonimg {
    max-width: 73px;
}
.nelson {
    background-color: #36393e;
    border: 3px solid #282b30;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 3em;
    padding-right: 1em;

    display: grid;
    grid-template-columns: 80pt auto;
    margin-bottom: 1.5em;
}

.parts {
    margin-top: 6em;
    text-align: center;
}
