 
body {
/*     background-color: #ffffff; */
    background-color: #424549;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt;
}
* {
    font-family: "Arial";
    color: #dcddde;
}

p, li {
    font-size: 11pt;
    margin: 0;
}

a {
    color: #dcddde;
    border-left: 3px solid #dcddde;
    padding-left: 5px;
}

img {
    width: 100%;
}

h1 {
    font-size: 20pt;
    padding-bottom: 18pt;
}
h2 {
    padding-top: 18pt;
    font-size: 16pt;
    padding-bottom: 6pt;
}


.text {
    margin-bottom: 1.5em;
}
.lite {
    margin-bottom: 0.5em;
}
.list {
    color: #dcddde;
    list-style-type: circle;
}
.quote {
    color: #dcddde;
    margin-top: 1em;
    border-left: 1.5px solid #dcddde;
    padding-left: 5px;
}
.quote-break {
    color: #dcddde;
    margin-top: 1em;
    border-left: 1.5px solid #dcddde;
    padding-left: 5px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}
.announce {
    color: #dcddde;
    margin-left: 36pt;
    margin-right: 30pt;
    line-height: 1.15;
    text-align: left;
}
.announcement {
    background: #2f3136;
    border: 1px solid #202225;
    border-radius: 7px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.announcement-break {
    background: #2f3136;
    border: 1px solid #202225;
    border-radius: 7px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}
.subannouncement {
    padding-top: 7px;
    padding-bottom: 7px;
}
